* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background-color: #8c9fb3;
    color: #333;
}

/* NAVBAR */
.navbar {
    background: #672505;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ffffff;
    border-radius: 10%;
}

.navbar nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: solid;
    font-weight: 500;
}

.navbar nav a:hover {
    color: #f4c430;
}

/* HERO */
.hero {
    background: linear-gradient(to right, #f66e0e, #683302);
    color: #fff;
    padding: 80px 20px;
    text-align: center;
}

.hero-content h2 {
   
    font-size: 42px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 25px;
}

.hero-content button {
    padding: 12px 25px;
    background: #f4c430;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.profile-img {
    margin-top: 25px;
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #0c0901;
    background-color: #f4c430;  /* TEMP: will show if image fails */
}



/* SECTIONS */
.section {
    padding: 60px 40px;
    text-align: center;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.section p {
    max-width: 800px;
    font-size: 20px;
    font: bold;
    margin: auto;
    line-height: 1.7;
    color: #fff;
}
/* GOOGLE MAP */
.map-section {
    padding: 50px 20px;
    background: #f4f6f8;
}

.map-container {
    max-width: 900px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.map-container iframe {
    width: 100%;
    height: 350px;
    border: 0;
}


.dark {
    background: #282843;
    color: #fff;
}

/* PRACTICE CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #f87511;
    color: #000;
    padding: 25px;
    font-weight: bold;
    border-radius: 8px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

/* TIMELINE */
.timeline {
    list-style: none;
    max-width: 700px;
    margin: auto;
    text-align: left;
}

.timeline li {
    margin: 20px 0;
    padding-left: 20px;
    border-left: 3px solid #f4c430;
}

.timeline span {
    font-weight: bold;
    color: #f7f7f7;
}

/* CONTACT */
.contact-box p {
    margin: 10px 0;
    font-size: 20px;
    justify-content: center;
      text-align: center;
}

/* CONTACT SECTION - ONE LINE */
#contact .contact-box {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 18px;
}

#contact .contact-box p {
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
}



/* WHATSAPP FLOATING BUTTON */
.whatsapp-float {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.whatsapp-float img {
    width: 35px;
    height: 35px;
}
